
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';

$fa-font-path: '/hci_prototype/fonts';
@import '../bower_components/fontawesome/scss/font-awesome';


.link {
  stroke: #aaa;
}

.node text {
  stroke:#333;
  cursos:pointer;
}

circle.node {
  stroke:#fff;
  stroke-width:3px;
  fill:#555;
}

.chart {

  margin: 0; padding: 0;
  position: relative;

  &.chart-graph {
    width: 100%;

    height: 1000px;

    svg {

      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .chart-dialog {

    width: 500px;
    visibility: hidden;
    position: absolute;
  }

}